* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Serif 4', serif;
  font-weight: normal;
  color: #A54328;
}
:root {
  font-size: 62.5%  ;
}

main {
  margin-inline: auto;
  max-width: 32rem;
  padding: 5.6rem 4rem;

  box-sizing: content-box;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
img {
width: 100%;
margin-block: 3.2rem;

}

h1, h2 {
  font-weight: bold;
}

h1 {
  line-height: normal;
  font-size: 2.8rem;
  min-width: 28.9rem;
  margin: 0;
  
}

p {
  font-size: 1.4rem;
  line-height: normal;
  margin: 0;
}

h2 {
  margin-bottom: 3.2rem;
  line-height: normal;
  font-size: 28.343px;
}

strong {
  font-size: 1.6rem;
  line-height: normal;
  font-weight: bold;
  margin-bottom: 2px;
  display: flex;
  text-align: flex-start;
}
ul li, ol li {

  font-size: 1.4rem;
  line-height: normal;

}
ul {
  padding-left: 2.4rem;
  margin-bottom: 2.4rem;
}
ol {
  padding-left: 2.4rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;


 width: 9.4rem;
 height: 3.1rem;
 padding: 1.1rem;

font-size: 1rem;
text-transform: capitalize;
line-height: 1.7rem;
color: #fff;


border: none;
border-radius: 5px;
background-color:#A54328;

margin-top: 1.7rem ;
}

@media (min-width:1120px){
  body {
    font-size: 2rem;
  }
main {
  flex-direction: row;
  max-width: fit-content;
  gap: 16rem;
  padding: 9.5rem 14.5rem;
  margin: auto;
}
img {
max-width: 41rem;
}
.receita {
  max-width: 43.5rem;

}
.ingredientes {
  max-width: 52.5rem;
}
h1, h2 {
  font-size: 4rem;
  font-weight: bold;
}
button {
  padding: 1.6rem;
  
  text-transform: capitalize;
  
}

}